{% extends "flights/layout.html" %}

{% block body %}
<div class="container" style="padding-top: 30px;">

    <div class="container" style="padding-top: 30px;">

        <h1>Uçuşlar {{ flight.id }} </h1>

        <table border="1">
            <tr>
                <td>Kalkış</td>
                <td>{{ flight.origin }}</td>
            </tr>
            <tr>
                <td>Varış</td>
                <td>{{ flight.destination }}</td>
            </tr>
            <tr>
                <td>Süre</td>
                <td>{{ flight.duration }}</td>
            </tr>
            <tr>
                <td>Kalkış tarihi</td>
                <td>{{ flight.kalkis_tarihi }}</td>
            </tr>
            <tr>
                <td>Varış tarihi</td>
                <td>{{ flight.varis_tarihi }}</td>
            </tr>
            <tr>
                <td>Havayolu</td>
                <td>{{ flight.havayolu_adi }}</td>
            </tr>
        </table>
    </div>
    <div class="container" style="padding-top: 60px;">
        <h2>Yolcular</h2>

        <ul>
            {% for passenger in passengers %}
                <li>{{ passenger }}</li>
            {% empty %}
                <li>No passengers</li>
            {% endfor %}
        </ul>

        <a href="{% url 'index' %}">Ana menüye dön</a>
    </div>
</div>
{% endblock  %}