<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flights</title>
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="style.css" rel="stylesheet">
</head>
<body>

<!-- Üst menü -->
<nav class="navbar navbar-expand-lg bg-danger navbar-white"> <!--danger kırmızının üstüne beyaz yazı-->
    <div class= "container"> <!--ms auto sağa yakınlaştırır-->
       <a href="/" class="navbar-brand text-white">BiletAl</a>

       <ul class="navbar-nav ms-auto"> <!--SAĞDAN SOLA DOĞRU GİDER BAŞLIKLAR-->
           <li class="nav item">
               <a href="/" class="nav-link text-white ">Anasayfa</a>
           </li>
           <li class="nav item">
               <a href="/iletisim" class="nav-link text-white">İletişim</a>
           </li>
           <li class="nav item">
               <a href="/hakkimizda" class="nav-link text-white">Hakkımızda</a>
           </li>
       </ul>
   </div>
  </nav>


    {% block content %}
  
    {% endblock %}
    

    <!-- Ana içerik -->
    <div class= "container"> 
    </div>
</div>

<!-- Bootstrap JS ve jQuery -->
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.3/js/bootstrap.min.js"><sciript>
<script>
    $(document).ready(function () {
        $('.nav-link').click(function (e) {
            e.preventDefault();
            var target = $(this).attr('href');
            $('.page').hide();
            $(target).fadeIn();
        });
    });
</script>
<body>
    {% block body %}
    {% endblock %}
</body>
</body>
</html>