{% extends "flights/layout.html" %}

{% block body %}
<div class="container" style="padding-top: 60px;">
    <h1>Ucuslar</h1>
    <table border="1">
        <thead>
            <tr>
                <th>Flight ID</th>
                <th>Kalkış</th>
                <th>Varış</th>
            </tr>
        </thead>
        <tbody>
            {% for flight in flights %}
            <tr>
                <td><a href="{% url 'flight' flight.id %}">Flight {{ flight.id }}</a></td>
                <td>{{ flight.origin }}</td>
                <td>{{ flight.destination }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock  %}
