/* Özel CSS stilleri buraya eklenebilir */
body {
    padding-top: 70px; /* Sayfa içeriğinin menünün altında görünmesini sağlar */
    background-color: #f8f9fa; /* Arka plan rengi */
}
.container {
    max-width: 800px;
}
.navbar {
    transition: all 0.3s ease;
}
.nav-link {
    transition: all 0.3s ease;
}
.nav-link:hover {
    color: #ffc107; /* Buton hover rengi */
}
.nav-link.active {
    font-weight: bold; /* Seçilen butonun kalın olması */
}
.page {
    display: none; /* Sayfa varsayılan olarak gizlenir */
    padding: 20px;
    background-color: white; /* Sayfa arka plan rengi */
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sayfa gölge efekti */
    animation: fadeInAnimation 0.5s ease forwards;
}
@keyframes fadeInAnimation {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
/* Uçak resmi stil */
.airplane-image {
    background-image: url('aircraft.jpg');
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 300px; /* Uçak resmi yüksekliği */
    border-radius: 5px;
    margin-bottom: 20px;
}
/* Form stilleri */
.form-container {
    background-color: #f8f9fa;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}
.form-container h2 {
    margin-bottom: 20px;
}
/* Arama butonu rengi */
.btn-search {
    background-color: #dc3545; /* Kırmızı renk */
    border-color: #dc3545; /* Kenarlık rengi kırmızı */
}
.btn-search:hover {
    background-color: #c82333; /* Kırmızı Hover rengi */
    border-color: #bd2130; /* Kırmızı Hover kenarlık rengi */
}
body {
    background-color: #f8f9fa; /* Arka plan rengi */
}
.payment-info {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.payment-info h3 {
    margin-bottom: 20px;
    color: #dc3545; /* Kırmızı renk */
}
.form-group label {
    color: #495057; /* Form etiket rengi */
}
.form-control {
    border-color: #ced4da; /* Form giriş kenarlık rengi */
}
.btn-primary {
    background-color: #dc3545; /* Kırmızı renk */
    border-color: #dc3545; /* Kenarlık rengi */
}
.btn-primary:hover {
    background-color: #c82333; /* Hover rengi */
    border-color: #bd2130; /* Hover kenarlık rengi */
}