<!DOCTYPE html> <!--html standartı belirler-->
<html lang="en"><!--belgenin dilini belirter-->
<head> <!--başlıkbilgilerini içeren sekme-->
    <meta charset="UTF-8"> <!--karakter kodlaması-->
    <meta name="viewport" content="width-device-width, initial-scale-1.0"> <!--Cihzın genişliğine göre sayfayı ayarlar-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.3/css/bootstrap.rtl.min.css"/>
    <title>{% block title %} Ana Sayfa {% endblock %}</title> <!--belgenin başlığını belirtir. anasayfadır-->
<head>
<body>
    
   <nav class="navbar navbar-expand-lg bg-danger navbar-white"> <!--danger kırmızının üstüne beyaz yazı-->
     <div class= "container"> <!--ms auto sağa yakınlaştırır-->
        <a href="/" class="navbar-brand text-white">BiletAl</a>

        <ul class="navbar-nav ms-auto"> <!--SAĞDAN SOLA DOĞRU GİDER BAŞLIKLAR-->
            <li class="nav item">
                <a href="/" class="nav-link text-white ">Anasayfa</a>
            </li>
            <li class="nav item">
                <a href="/iletisim" class="nav-link text-white">İletişim</a>
            </li>
            <li class="nav item">
                <a href="/hakkimizda" class="nav-link text-white">Hakkımızda</a>
            </li>
        </ul>
    </div>
   </nav>

<main>
    {% block content%}

    {% endblock %}
</main>
<footer>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8 text-center">
                <p>&copy; 2024 BiletAl</p>
            </div>
        </div>
    </div>
</footer>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.3/js/bootstrap.min.js"><sciript>
</body>
  </html>