{% extends 'ucuslar/layout.html' %}

{% block title %}Uçuşlar{% endblock %}

{% block content %}
    <h2>Uçuşlar</h2>
    <table border="1">
        <thead>
            <tr>
                <th>No</th>
                <th>Kalkış Havalimanı</th>
                <th>Varış Havalimanı</th>
                <th>Kalkış Tarihi</th>
                <th>Varış Tarihi</th>
                <th>Havayolu Adı</th>
                <th>Uçuş Süresi</th>
                <th>Uçak No</th>
            </tr>
        </thead>
        <tbody>
            {% for ucus in ucuslar %}
            <tr>
                <td>{{ ucus.ucus_id }}</td>
                <td>{{ Havaalanlari.objects.get(ucus.kalkis_havaalani_id).havaalani_ismi }}</td>
                <td>{{ Havaalanlari.objects.get(ucus.varis_havaalani_id).havaalani_ismi }}</td>                
                <td>{{ ucus.kalkis_tarihi }}</td>
                <td>{{ ucus.varis_tarihi }}</td>
                <td>{{ ucus.havayolu_adi }}</td>
                <td>{{ ucus.ucus_sure }}</td>
                <td>{{ ucus.ucak_no }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
