<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Ana Sayfa{% endblock %}</title>
</head>
<body>

<header>
    <h1>Web Uygulaması</h1>
    <nav>
        <ul>
            <li><a href="/">Ana Sayfa</a></li>
            <li><a href="/ucuslar/">Uçuşlar</a></li>
            <li><a href="/yolcular/">Yolcular</a></li>
        </ul>
    </nav>
</header>

<main>
    {% block content %}
    
    {% endblock %}
</main>

<footer>
    <p>&copy; 2024 Web Uygulaması</p>
</footer>

</body>
</html>
