{% extends 'havayolları/layout.html' %}

{% block title %}Uçuş Arama Sonuçları{% endblock %}

{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-8">
            <h2 class="mb-4">Uçuş Arama Sonuçları</h2>
            {% if flights %}
                <div class="row row-cols-1 row-cols-md-2 g-4"> <!--  satır başlatır -->
                    {% for flight in flights %}
                        <div class="col"> <!-- kolon başlat -->
                            <div class="flight-info-box mb-4" style="background-color: rgba(255, 255, 255, 0.8);">
                                <!--info box ile kutucuk içine yerleştiririz ki ayırt edilsin style ile rengi beyaz olur-->
                                <p><strong>Kalkış Havalimanı:</strong> {{ flight.kalkis_havaalani_id }}</p>
                                <p><strong>Varış Havalimanı:</strong> {{ flight.varis_havaalani_id }}</p>
                                <p><strong>Kalkış Tarihi:</strong> {{ flight.kalkis_tarihi }}</p>
                                <p><strong>Varış Tarihi:</strong> {{ flight.varis_tarihi }}</p>
                                <p><strong>Havayolu:</strong> {{ flight.havayolu_adi }}</p>
                                <p><strong>Uçuş Süresi:</strong> {{ flight.ucus_sure }} dakika</p>
                                <p><strong>Uçak No:</strong> {{ flight.ucak_no }}</p>
                                <form action="{% url 'bilet_kaydet' %}" method="post">
                                    <input type="hidden" id="selected-flight-id" value="{{ flight.ucus_id }}"> <!-- uçuş idyi gizlice yerleştirme -->
                                    {% csrf_token %} <!--web saldırılarına karşı kllanılır-->
                                    <button type="submit" class="btn btn-primary">Bilet Al</button>
                                </form>
                            </div>
                        </div> <!-- Kolon sonu -->
                    {% endfor %}
                </div> <!-- Yeni satır sonu -->
            {% else %}
                <p>Uygun uçuş bulunamadı.</p>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
