{% extends 'havayolları/layout.html' %}

{% block title %}Kart Bilgisi Gir{% endblock %}

{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-6">
            <h2 class="mb-4">Kart Bilgilerini Giriniz</h2>
            <form id="bilet-form" method="post">
                {% csrf_token %}
                <div class="form-group">
                    <label for="kart_no">Kart Numarası:</label>
                    <input type="text" class="form-control" id="kart_no" name="kart_no" required>
                </div>
                <div class="form-group">
                    <label for="son_kullanma">Son Kullanma Tarihi (AY/YIL):</label>
                    <input type="text" class="form-control" id="son_kullanma" name="son_kullanma" required>
                </div>
                <div class="form-group">
                    <label for="cvv">CVV(KART ARKASINDAKİ ÜÇ HANELİ KOD):</label>
                    <input type="text" class="form-control" id="cvv" name="cvv" required>
                </div>
                <button type="button" id="bilet-al-btn" class="btn btn-primary">Bilet Al</button>
            </form>
        </div>
    </div>
</div>

<script>
    document.getElementById('bilet-al-btn').addEventListener('click', function() {
        var kartNo = document.getElementById('kart_no').value;
        var sonKullanma = document.getElementById('son_kullanma').value;
        var cvv = document.getElementById('cvv').value; // JavaScript kodu kart bilgilerini alır

        // Kart numarası ve CVV uzunluk kontrolü kart no boşlukla beraber 19 uzunlukta olmalı
        if (kartNo.length !== 19 || cvv.length !== 3) {
            alert('Kart numarası 16 haneli ve CVV 3 haneli olmalıdır.'); //yukarıdan uyarı verir alert.
        } else {
            var now = new Date();
            var expirationDate = new Date(sonKullanma); // Son kullanma tarihi için kontrol
            if (expirationDate <= now) {
                alert('Son kullanma tarihi geçersiz.');
            } else {
                document.getElementById('bilet-form').submit(); // Formu gönderir
                document.getElementById('bilet-al-btn').innerText = "Bilet Alındı"; // 
                alert('Tebrikler! Biletiniz alındı.');
                window.location.href = ''; //bilet alındıktan sonra anasayfaya yollar

            }
        }
    });
</script>
{% endblock %}
