{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap">

    <title>{% block title %} Ana Sayfa {% endblock %}</title>
    <style>
        body {
            background-image: url('{% static "img/görsel3.jpg" %}');
            background-size: cover;
            background-position: center 45px;
            background-repeat: no-repeat;
            font-family: 'Roboto', sans-serif;
        }
        
        
        .mb-4{
            padding-top: 70px;
        }
        
        
        
    </style>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.3/css/bootstrap.rtl.min.css"/>
</head>
<body>
    
    <nav class="navbar navbar-expand-lg navbar-light bg-danger">
        <div class="container">
            <a href="/" class="navbar-brand text-white">Bilet Al</a>
            
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
    
            <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a href="/" class="nav-link text-white">Anasayfa</a>
                    </li>
                    <li class="nav-item">
                        <a href="/iletisim" class="nav-link text-white">İletişim</a>
                    </li>
                    <li class="nav-item">
                        <a href="/hakkimizda" class="nav-link text-white">Hakkımızda</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    

<main>
    {% block content%}

    {% endblock %}
</main>
<footer>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8 text-center">
                <p>&copy; 2024 BiletAl</p>
            </div>
        </div>
    </div>
</footer>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.3/js/bootstrap.min.js"></script>
</body>
</html>